.blogs-rep {
  padding: 150px 0px;

  .blogs-title {
    margin-bottom: 60px;
  }

  &__title {
    font-size: 30px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 55%;

    @media(max-width: 768px){
      width: 100%;
    }
  }
  &__image {
    max-width: 531px;
    height: 417px;
    position: relative;

    @media(max-width: 768px){
      width: 100%;
      height: auto;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__caption {
    width: 45%;
    padding-left: 30px;

    @media(max-width: 768px){
      width: 100%;
      padding-left: 0px;
    }

    &-pink {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.2em;
      color: #EE127C;
      margin-bottom: 20px;
      &:after {
        content: '';
        width: 114px;
        height: 1px;
        background-color: #EE127C;
        display: block;
        position: relative;
        top: 8px;
      }

      @media(max-width: 480px){
        font-size: 18px;
      }
    }

    &-blue {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.2em;
      color: #15F7F7;
      margin-bottom: 20px;
      &:after {
        content: '';
        width: 114px;
        height: 1px;
        background-color: #15F7F7;
        display: block;
        position: relative;
        top: 8px;
      }

      @media(max-width: 480px){
        font-size: 18px;
      }
    }
    
    &-disc{
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 343px;

      @media(max-width: 480px){
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &-disc-slav{
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 445px;

      @media(max-width: 480px){
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    
  }

  &__content {
    p {
      font-size: 18px;

      @media(max-width: 480px){
        font-size: 14px;
      }
    }
    img {
      width: 90%;
      display: block;
      margin: 0 auto;
      padding: 50px 0;
      @media(max-width: 480px){
        padding: 20px 0;
        width: 100%;
      }
    }
  }

  &-razbor {
    .blogs-rep__caption-pink {
      color: #F1870B;

      &:after {
        background-color: #F1870B;
      }
    }

    .blogs-rep__content {
      h2 {
        font-size: 30px;
        letter-spacing: 0.2em;
        color: #F1870B; 

        &:after {
          content: '';
          width: 114px;
          height: 1px;
          background-color: #F1870B;
          display: block;
          position: relative;
          top: 8px;
        }
        @media(max-width: 480px){
          font-size: 18px;
        }
      }
    }
  }
}