.keys-title {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    height: 48px;
    border-radius: 80px 0px 80px 0px;
    margin-bottom: 35px;

    &-pink {
        background: linear-gradient(172.76deg, #BC12E7 3.01%, #DC1368 87.34%);
    }

    &-orange {
        background: linear-gradient(172.78deg, #E7B812 3.01%, #DC4313 87.34%);
    }
    
    &-blue {
        background: linear-gradient(164.18deg, #12E7CD 3.01%, #137CDC 87.34%);
    }
}

.keys-nametitle {
    font-size: 30px;
    margin-bottom: 5px;
}

.keys-nametitledisc {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 35px;
}

.keys-radius {
    border-radius: 80px 0 80px 80px;
}

.keys__content {
    padding-top: 80px;
}

.keys__sliderBlock {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &-text {
        width: 45%;

        @media(max-width: 1200px){
            width: 100%;
        }

        &-title {
            font-size: 30px;
            letter-spacing: 0.2em;
            margin-bottom: 30px;
        }

        &-disc {
            font-size: 18px;
            max-width: 420px;

            @media(max-width: 1200px){
                max-width: 100%;
            }

            span {
                color: #d3138a;
            }
        }

        &-disc:not(:last-child) {
            margin-bottom: 80px;

            @media(max-width: 1200px){
                margin-bottom: 40px;
          }
        }
        
    }

    &-img {
        width: 55%;

        @media(max-width: 1200px){
            width: 100%;
        }
    }

}

.owl-carousel-bibnoch {
    border-radius: 0 80px 0 80px;
    overflow: hidden;

    @media(max-width: 1200px){
        margin-top: 50px;
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-25px);
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            background: black !important;
            width: 50px;
            height: 50px;
            font-size: 70px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, .4);
            outline: none;
        }

        .owl-prev {
            border-radius: 0 25px 25px 0;

            span {
                font-size: 50px;
                position: relative;
                top: -15px;
                left: -5px;
            }
        }

        .owl-next {
            border-radius: 25px 0 0 25px ;

            span {
                font-size: 50px;
                position: relative;
                top: -15px;
                left: 5px;
            }
        }
    }

    .owl-dots {
        display: none;
    }
}

.keys__sectionMoney {

    &-title {
        font-size: 30px;
        letter-spacing: 0.2em;
        margin-bottom: 25px;
    }

    &-disc {
        font-size: 18px;
        margin-bottom: 25px;
    }

    &-midtitle {
        font-weight: bold;
        font-size: 24px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
        
    }

}

.keys__sectionMoney__blocks {
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 1024px){
        justify-content: center;
    }

    .item {
        width: 20%;
        text-align: center;

        @media(max-width: 1024px){
            width: 50%;
            margin-bottom: 15px;
        }
        @media(max-width: 768px){
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .item__icon {
        width: 78px;
        height: 78px;
        margin: 0 auto;
        margin-bottom: 15px;

        &-calendar {   
            background-image: url('../img/keys/biblionoch/calendar.svg');
        }

        &-woman {   
            background-image: url('../img/keys/biblionoch/woman.svg');
        }

        &-music {   
            background-image: url('../img/keys/biblionoch/music.svg');
        }

        &-teamwork {   
            background-image: url('../img/keys/biblionoch/teamwork.svg');
        }

        &-microphone {   
            background-image: url('../img/keys/biblionoch/microphone.svg');
        }

    }
}

.keys__result__title {
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #EE127C;
    margin-bottom: 60px;

    &::after {
        content: "";
        width: 120px;
        height: 1px;
        background: #EE127C;
        display: block;
    }
}

.keys__smi {
    display: flex;

    @media(max-width: 768px){
        flex-wrap: wrap;
    }

    .item {

        ul {
            list-style-type: none;
            padding: 0;

            li {
                padding: 5px 0px;
            }

            a {
                font-size: 18px;
                color: #FFF;
                transition: all .3s;

                &:hover {
                    color: #EE127C;
                }
            }
        }


        div{
            font-size: 30px;

            
        }

        .number {
            background: linear-gradient(157.83deg, #BC12E7 3.01%, #DC1368 87.34%); 
            font-size: 100px;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            
        }
    }

    .item:first-child {
        margin-right: 200px;

        @media(max-width: 768px){
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
}