

.keys__content-slav {
    padding-top: 80px;

    .work-title {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 50px;
    }

    .work-disc__title {
        font-size: 18px;
        max-width: 733px;
        line-height: 30px;

        @media(max-width: 480px){
            font-size: 16px;
        }
    }

    .work-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;

        .work-left {
            padding-top: 30px;
            max-width: 350px;
            font-size: 18px;
            line-height: 30px;

            @media(max-width: 1200px){
                width: 50%;
            }
            @media(max-width: 768px){
                width: 100%;
                max-width: 100%;
            }
            @media(max-width: 480px){
                font-size: 16px;
            }
        }

        .work-right {
            @media(max-width: 1200px){
                width: 50%;
            }
            @media(max-width: 768px){
                width: 100%;
                height: 200px;
            }
              
            &-bg {
                background-image: url('../img/keys/slav/post-work.svg');
                background-position: center;
                background-size: cover;
                width: 640px;
                height: 405px;

                @media(max-width: 1200px){
                    background-size: contain;
                    height: 100%;
                    width: auto;
                    background-repeat: no-repeat;
                }
                @media(max-width: 768px){
                    height: 200px;
                }
            }
        }
    }    

    .vars-logo__title {
        color: #15F7F7;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.2em;
        margin-bottom: 65px;

        &::after {
            content: '';
            width: 120px;
            height: 1px;
            background-color: #15F7F7;
            display: block;
            position: relative;
            bottom: -15px;
        }

        &-min {
            margin-bottom: 30px;
        }
    }

    .vars-logo-row {
        display: flex;

        &-fend {
            justify-content: flex-end;
            padding-top: 40px;
            margin-bottom: 80px;

            @media(max-width: 480px){
                padding-top: 5px;
            }
        }

        .img-1 {
            width: 490px;
            height: 200px;
            background-image: url(../img/keys/slav/var1.svg);
            margin-right: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media(max-width: 768px){
                width: 50%;
                height: 100px;
            }
        }

        .img-2 {
            width: 244px;
            height: 200px;
            background-image: url(../img/keys/slav/var2.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media(max-width: 768px){
                width: 50%;
                height: 100px;
            }
        }

        .img-3 {
            width: 189px;
            height: 200px;
            background-image: url(../img/keys/slav/var3.svg);
            margin-right: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media(max-width: 768px){
                width: 33%;
                height: 100px;
            }
        }

        .img-4 {
            width: 244px;
            height: 200px;
            background-image: url(../img/keys/slav/var4.svg);
            margin-right: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media(max-width: 768px){
                width: 33%;
                height: 100px;
            }
        }

        .img-5 {
            width: 212px;
            height: 200px;
            background-image: url(../img/keys/slav/var5.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media(max-width: 768px){
                width: 33%;
                height: 100px;
            }
        }
    }

    .itog-row {
        display: flex;
        margin-bottom: 80px;

        @media(max-width: 480px){
            flex-wrap: wrap;
        }

        &__img {
            width: 513px;
            height: 226px;
            background-image: url(../img/keys/slav/itog.svg);

            @media(max-width: 1024px){
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            @media(max-width: 480px){
                height: 200px;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin-bottom: 12px;
                display: flex;
            }
        }

        &__disc {
            padding-left: 35px;

            @media(max-width: 480px){
                padding-left: 0px;
            }

            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }

            span {
                width: 24px;
                height: 24px;
                display: inline-block;
                margin-right: 12px;
            }

            .BDAB50 {
                background: #C5A74C;
            }

            .D4CA4D {
                background: #D4CA4D;
            }

            .FFD340 {
                background: #FFD340;
            }

            .FAEE16 {
                background: #FAEE16;
            }
        }
    }

    .vars-logo__disc {
        font-weight: bold;
        font-size: 24px;

        &-mrb80 {
            margin-bottom: 80px;
        }
        
        &-mrb40 {
            margin-bottom: 40px;
        }
    }

    .dizain-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;

        .col {
            width: 30%;
            padding-left: 50px;
            padding-right: 40px;
            position: relative;
            font-size: 18px;
            margin-bottom: 20px;

            @media(max-width: 1200px){
                width: 50%;
            }
            @media(max-width: 768px){
                width: 100%;
                font-size: 16px;
                padding-right: 0px;
            }

            @media(max-width: 480px){
                padding-left: 0px;
            }
        }

        .col-1::before {
            content: url(../img/keys/slav/1.svg);
            width: 33px;
            height: 66px;
            position: absolute;
            background-size: cover;
            background-position: center;
            left: 17px;

            @media(max-width: 480px){
                float: left;
                position: static;
            }
        }

        .col-2::before {
            content: url(../img/keys/slav/2.svg);
            width: 48px;
            height: 66px;
            position: absolute;
            background-size: cover;
            background-position: center;
            left: 5px;

            @media(max-width: 480px){
                float: left;
                position: static;
            }
        }

        .col-3::before {
            content: url(../img/keys/slav/3.svg);
            width: 48px;
            height: 66px;
            position: absolute;
            background-size: cover;
            background-position: center;
            left: 5px;

            @media(max-width: 480px){
                float: left;
                position: static;
            }
        }

    }

    .diz-row {
        display: flex;
        
        @media(max-width: 768px){
            flex-wrap: wrap;
        }

        .col {
            font-size: 18px;
            width: 50%;

            @media(max-width: 768px){
                width: 100%;
            }
        }

        .col:first-child {
            margin-right: 70px;

            @media(max-width: 768px){
                margin-right: 0px;
                margin-bottom: 20px;
            }
        }
    }
}










.keys-nametitle-slav {
    margin-bottom: 40px;
}