
.blogs-rep__caption-orange {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    color: #F1870B;
    margin-bottom: 20px;

    &::after {
      content: '';
      width: 114px;
      height: 1px;
      background-color: #F1870B;
      display: block;
      position: relative;
      top: 8px;
    }
}

.keys__sliderBlock-text-title-add {
  font-size: 30px;
}

.keys__sliderBlock-text-disc-add {
  font-size: 18px;
  padding-right: 30px;
}

.profit {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

    .item {
      width: 50%;

      @media(max-width: 768px){
          width: 100%;
      }

        &__title {
            color: #F1870B;
            font-size: 30px;
            letter-spacing: 0.2em;
            margin-bottom: 70px;
            
            &::after {
                content: "";
                width: 120px;
                height: 1px;
                background: #F1870B;
                display: block;
                position: relative;
                top: 10px;
            }
        }
        
        &__div {
            position: relative;
            font-size: 24px;
            margin-bottom: 40px;

            @media(max-width: 480px){
              font-size: 18px;
            }
          
            span{
                position: relative;
                color: black;
                font-weight: bold;
            }

            &::before {
                content: "";
                position: absolute;
                width: 26px;
                height: 30px;
                background: #F1870B;
                top: 0px;
                left: -14px;

                @media(max-width: 480px){
                  left: -16px;
                }

            }
            
        }
    }

    .item:last-child {
        padding-left: 140px;

        @media(max-width: 1024px){
            padding-left: 100px;
        }
        @media(max-width: 768px){
          padding-left: 0px;
      }
    }
}

.keys-krokapp__done {

    &__title {
        font-size: 30px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 100px;

        @media(max-width: 480px){
            margin-bottom: 50px;
        }
    }

    &__disc {
        max-width: 561px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        position: relative;

        @media(max-width: 768px){
            width: 70%;
        }
        @media(max-width: 480px){
            width: 100%;
            font-size: 14px;
        }

        span{
            position: absolute;
            bottom: -70px;
            right: -70px;
            opacity: 0.2;

            @media(max-width: 480px){
                bottom: -50px;
                right: -5px;
            }
        }

        &::before {
            content: "";
            width: 70px;
            height: 60px;
            background-image: url('../img/keys/krokapp/quote.svg');
            position: absolute;
            display: block;
            bottom: -60px;
            left: -70px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media(max-width: 480px){
                width: 40px;
                height: 30px;
                bottom: -40px;
                left: -25px;
            }
        }

        &::after {
            content: "";
            width: 70px;
            height: 60px;
            background-image: url('../img/keys/krokapp/quote.svg');
            position: absolute;
            display: block;
            top: -60px;
            right: -70px;
            transform: rotate(180deg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media(max-width: 480px){
                width: 40px;
                height: 30px;
                top: -30px;
                right: -15px;
            }
        }
    }

}

.krokapp-img {
    position: absolute;
    top: -100px;
    left: 100px;

    @media(max-width: 1023px){
        position: static;
        height: 100%;
    }
}