.keys {
  &-running {
    display: flex;
    padding-top: 140px;
    padding-bottom: 80px;
    flex-wrap: wrap;

    @media(max-width: 480px){
      padding-top: 70px;
      padding-bottom: 50px;
    }
  }

  &-running-item {
    display: flex;

    @media(max-width: 980px){
      width: 100%;
    }
    

    span {
      font-size: 18px;
    }
    
    &-img {
      width: 40px;
      height: 20px;
      margin-right: 5px;
      border-radius: 20px 0;



      &-pink {
        background: linear-gradient(164.18deg, #BC12E7 3.01%, #DC1368 87.34%);
      }
      &-blue {
        background: linear-gradient(164.18deg, #12E7CD 3.01%, #137CDC 87.34%);
      }
      &-yellow {
        background: linear-gradient(164.18deg, #E7B812 3.01%, #DC4313 87.34%);
      }
    }
  }
  &-running-item:not(:last-child) {
    margin-right: 50px;

    @media(max-width: 980px){
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }

  &-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: 303px;
      height: 164px;
      border-radius: 20px;
      /* border: 1px solid #C4C4C4; */
      position: relative;
      overflow: hidden;
      display: block;
      text-decoration: none;
      margin-bottom: 40px;
      box-shadow: 0 0 10px rgba(255,255,255,0.1);
      

      &:hover .item-bg-left{
        background-color: #FFFFFF;
      }
      &:hover:after{
        background-color: #FFFFFF;
        border: 3px solid #FFFFFF;
        background-color: #FFFFFF;
      }
      &:hover .item-title{
        color: #101011;
      }

      &:after {
        content: '';
        width: 40px;
        height: 20px;
        border-radius: 0px 20px;
        border: 3px solid #222121;
        background-color: #222121;
        position: absolute;
        bottom: -2px;
        left: -2px;
        transition: all .3s;
      }

      @media(max-width: 820px){
        width: 48%;
      }
      @media(max-width: 480px){
        width: 100%;
      }

      &-title {
        color: white;
        position: relative;

        &-slavgorod {
          padding-top: 70px;
          padding-left: 25px;
          font-size: 14px;
          max-width: 140px;
          font-weight: bold;

          span{
            font-size: 12px;
            display: inline-block;
            padding-top: 10px;
          }
        }
      }

      &-bg-left {
        width: 200px;
        height: 322px;
        background-color: #222121;
        position: absolute;
        top: -115px;
        left: -15px;
        transform: rotate(34deg);
        transition: all .3s;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }


      &-slavgorod {
        background-image: url('../img/keys/slavnygorod.svg');
        background-position: center 0%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-krokapp {
        background-image: url('../img/keys/knorapp.svg');
        background-position: center 0%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &-bnoch {
        background-image: url('../img/keys/biblionoch/bnoch.png');
        background-position: center 0%;
        background-size: contain;
        background-repeat: no-repeat;
      }


      &-color {
        width: 40px;
        height: 20px;
        border-radius: 20px 0;
        position: absolute;
        z-index: 5;


        &-pink {
          background: linear-gradient(164.18deg, #BC12E7 3.01%, #DC1368 87.34%);
        }
        &-blue {
          background: linear-gradient(164.18deg, #12E7CD 3.01%, #137CDC 87.34%);
        }
        &-yellow {
          background: linear-gradient(164.18deg, #E7B812 3.01%, #DC4313 87.34%);
        }

      }
    }
  }

}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #BDBDBD; */
}

.owl-stage-outer {
  background: #BDBDBD;
}