#fullpage {
  z-index: 11;
}

.firstblock {
  background: #0B0B0C;
  height: 100vh;
  z-index: 8;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.firstblock__copyr {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
}

.firstblock__copyr a{
  color: #4F4F4F;
  text-decoration: none;
  transition: all .3s;
}

.firstblock__copyr a:hover{
  color: #7c7a7a;
}

@media (max-width: 768px) {
  .firstblock__copyr {
      display: none;
  }
}
.firstblock-ellipceLeft {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: -85px;
  bottom: 0;
  margin: auto;
  -webkit-animation: slideEllipceLeft 1s;
          animation: slideEllipceLeft 1s;
}

.firstblock-ellipceLeft img {
  width: 100%;
}

/* @media (max-width: 1200px) {
  .firstblock-ellipceLeft {
      width: 400px;
      height: 400px;
  }
  .firstblock-ellipceLeft img {
      width: 100%;
  }
} */
@media (max-width: 768px) {
  .firstblock-ellipceLeft {
      left: -40px;
  }
}
@media (max-width: 550px) {
  .firstblock-ellipceLeft {
      height: 200px;
      width: 200px;
  }
}
.firstblock-ellipceRight {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  right: -85px;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: slideEllipceRight 1s;
          animation: slideEllipceRight 1s;
}

.firstblock-ellipceRight img {
  width: 100%;
}

/* @media (max-width: 1200px) {
  .firstblock-ellipceRight {
      width: 400px;
      height: 400px;
  }
  .firstblock-ellipceRight img {
      width: 100%;
  }
} */

@media (max-width: 768px) {
  .firstblock-ellipceRight {
      right: -40px;
  }
}
@media (max-width: 550px) {

  .firstblock-ellipceRight {
      height: 200px;
      width: 200px;
  }
}
.firstblock-btn-mobile {

  position: absolute;
  top: 20px;
  left: 10px;
  transition: all .3s;  
  display: none;  
  cursor: pointer;  
  z-index: 12;
}

@media (max-width: 768px) {
  .firstblock-btn-mobile {
      display: block;
  }
}
.firstblock-btn-mobile span {
  transition: all .3s;
  height: 2px;
  background: #fff;
  background: var(--white);
  display: block;
}
.firstblock-btn-mobile:hover span:nth-child(2){
  width: 25px;
}

.firstblock-btn-mobile:hover span:nth-child(3){
  width: 25px;
}
.firstblock-btn-mobile span:not(:last-child) {
      margin-bottom: 5px;
  }

.firstblock-btn-mobile span:nth-child(1) {
      width: 25px;
  }

.firstblock-btn-mobile span:nth-child(2) {
      width: 15px;
  }

.firstblock-btn-mobile span:nth-child(3) {
      width: 10px;
  }


.firstblock-btn {

      top: 50%;
      position: absolute;
      margin-top: -13px;
      left: 50px;
      cursor: pointer;
      transition: all .3s;
      animation: showtopbtn 1s;  
      z-index: 12;    
}

.firstblock-btn:hover span:nth-child(2){
  width: 35px;
}

.firstblock-btn:hover span:nth-child(3){
   width: 35px;
}

.firstblock-btn span {
          transition: all .3s;
          height: 2px;
          background: #fff;
          background: var(--white);
          display: block
      }

.firstblock-btn span:not(:last-child) {
              margin-bottom: 10px;
          }

.firstblock-btn span:nth-child(1) {
              width: 35px;
          }

.firstblock-btn span:nth-child(2) {
              width: 25px;
          }

.firstblock-btn span:nth-child(3) {
              width: 17px;
          }

@media (min-width: 768px) {

  .firstblock-ellipceLeft {
      left: -85px;
  }

  @keyframes slideEllipceLeft {

      from {
          left: 0;
      }
    
      to {
          left: -85px;
      }
  
  }
}

@media (max-width: 768px) {
  
  .firstblock-ellipceLeft {
      left: -20px;
  }

  @keyframes slideEllipceLeft {

      from {
          left: 0;
      }
    
      to {
          left: -20px;
      }
  
  }
}

/* @media (min-width: 320px) {
  
  .firstblock-ellipceLeft {
      left: -40px;
      width: 320px;
  }

  @keyframes slideEllipceLeft {

      from {
          left: 0;
      }
    
      to {
          left: -40px;
      }
  
  }
} */


@media (min-width: 768px) {

  .firstblock-ellipceRight {
      right: -85px;
  }

  @keyframes slideEllipceRight {

      from {
          right: 0;
      }
    
      to {
          right: -85px;
      }
  
  }
}
@media (max-width: 768px) {

  .firstblock-ellipceRight {
      right: -20px;
  }

  @keyframes slideEllipceRight {

      from {
          right: 0;
      }
    
      to {
          right: -20px;
      }
  
  }
}


@media (min-width: 768px) {
  .firstblock-btn {
      top: 50%;
  }

  @keyframes showtopbtn {

      from {
          top: 0;
      }
    
      to {
          top: 50%;
      }
  
  }
}
@media(max-width: 768px) {
  .firstblock-btn {
      display: none;
  }
}

.firstblock__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 203px;
  height: 203px;
  border: 1px solid rgba(255,255,255,.5);
  color: white;
  overflow: hidden;
  /* animation: headerContent 1s; */
}

@media (max-width: 550px) {
  .firstblock__content {
      width: 60px;
      height: 60px;
  }
}


/* @keyframes headerContent{

  from {
      transform: scaleY(0);
  }

  to {
      transform: scaleY(1);
  }
} */

.firstblock__content__logo {
      font-size: 75px;
      line-height: 7.3125rem;
      padding-top: 40px;
      margin-bottom: 40px;
      text-align: center;
     
      animation: headerTitle 1s;
  }

@media (max-width: 550px) {
  .firstblock__content__logo {
      font-size: 20px;
      padding-top: 15px;
      line-height: 30px;
  }
}

.firstblock__content__disc {
      font-size: 2rem;
      line-height: 2.5rem;
      width: 200px;
      height: 50px;
      position: absolute;
      top: 244px;
      right: -13px;
      left: 0;
      bottom: 0;
      margin: auto;
      color: white;
      animation: headerDisc 1s;
  }
@media (max-width: 550px) {
  .firstblock__content__disc {
      font-size: 8px;
      width: 65px;
      top: 90px;
      right: -20px;
     
  }
}
@keyframes headerTitle{

  from {
      transform: translateX(-190px);
  }

  to {
      transform: translateX(0);
  }
}

@keyframes headerDisc{

  from {
      transform: translateY(-100px);
  }

  to {
      transform: translateX(0);
  }
}

.in-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.fullpage-bg {
      width: 770px;
      height: 780px;
      position: fixed;
      z-index: 11;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      animation: slidefullpagebg 1s;
}

@media (max-width: 550px) {
  .fullpage-bg {
      display: none;
  }
}

.fullpage-blackBlock {
  position: fixed;
  z-index: 11;
  width: 2000px;
  height: 3000px;
  background: #000000;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transform: rotate(30deg) translateX(16%) translateY(-10%);
  -webkit-animation: slideblackBlock 1s;
          animation: slideblackBlock 1s
}



@media(max-width: 1920px) {

  .fullpage-blackBlock {
          transform: rotate(30deg) translateX(16%) translateY(-10%)
  }

  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(30deg) translateX(16%) translateY(-10%);
      }
  
  }
}

@media(max-width: 1600px) {

  .fullpage-blackBlock {
      transform: rotate(30deg) translateX(23%) translateY(-10%)
}
  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(30deg) translateX(23%) translateY(-10%);
      }
  
  }
}

@media(max-width: 1400px) {

  .fullpage-blackBlock {
      transform: rotate(30deg) translateX(27%) translateY(-10%)
}
  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(30deg) translateX(27%) translateY(-10%);
      }
  
  }
}

@media(max-width: 1200px) {

  .fullpage-blackBlock {
      transform: rotate(30deg) translateX(31%) translateY(-10%)
  }

  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(30deg) translateX(31%) translateY(-10%);
      }
  
  }
}

@media(max-width: 768px) {

  .fullpage-blackBlock {
      transform: rotate(18deg) translateX(53%) translateY(-11%);
  }

  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(18deg) translateX(53%) translateY(-11%);
      }
  
  }
}

@media(max-width: 550px) {

  .fullpage-blackBlock {
      transform: rotate(15deg) translateX(64%) translateY(-11%);
  }

  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(15deg) translateX(64%) translateY(-11%);
      }
  
  }
}
@media(max-width: 400px) {

  .fullpage-blackBlock {
      transform: rotate(15deg) translateX(69%) translateY(-11%);
  }

  @keyframes slideblackBlock {

      from {
          transform: rotate(30deg) translateX(100%) translateY(-10%);
      }
    
      to {
          transform: rotate(15deg) translateX(69%) translateY(-11%);
      }
  
  }
}

@keyframes slidefullpagebg {

  from {
      right: 2000px;
  }
  
  to {
      right: -0;
  }
}





.wrapper {
  display: none;

}


.wrapper-btn {
      top: 10%;
      position: fixed;
      z-index: 12;
      margin-top: -20px;
      left: 50px;
      cursor: pointer;
      transition: all .3s
}

@media (max-width: 768px) {
  .wrapper-btn {
      top: 40px;
      left: 10px;
  }
}

.wrapper-btn:hover span:nth-child(2){
          width: 35px;
      }


.wrapper-btn:hover span:nth-child(3){
          width: 35px;
      }


.wrapper-btn span {
          transition: all .3s;
          height: 2px;
          background: #fff;
          background: var(--white);
          display: block
      }


.wrapper-btn span:not(:last-child) {
              margin-bottom: 10px;
          }


.wrapper-btn span:nth-child(1) {
              width: 35px;
          }


.wrapper-btn span:nth-child(2) {
              width: 25px;
          }


.wrapper-btn span:nth-child(3) {
              width: 17px;
          }

@media (max-width: 768px) {
  .wrapper-btn span:not(:last-child) {
      margin-bottom: 5px;
  }


.wrapper-btn span:nth-child(1) {
      width: 25px;
  }


.wrapper-btn span:nth-child(2) {
      width: 15px;
  }


.wrapper-btn span:nth-child(3) {
      width: 10px;
  }

  .wrapper-btn:hover span:nth-child(2){
      width: 25px;
  }


.wrapper-btn:hover span:nth-child(3){
      width: 25px;
  }
}


.wrapper__ball {
      position: absolute;
      width: 769px;
      height: 769px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
  }

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 6.25rem;
  line-height: 7.3125rem;
  text-align: center;
  border: 1px solid #FFFFFF;
  margin: 0 auto;
  width: 203px;
  height: 203px;
  color: white;
  padding-top: 40px;
}

.logo__disc {
      text-align: center;
      font-size: 2.1875rem;
      line-height: 2.5625rem;
      color: #FFFFFF;
  }

.company {
  font-family: 'Cuprum', sans-serif;
  position: relative;
  left: 50%;
  width:50%;
  /*padding-top: 50px;*/
}



@media (min-width: 1367px){

  .company {
      padding-top: 150px;
  }
}
@media (max-width: 1200px){
  .company {
      left: 47%;
  }
}
@media (max-width: 1024px){
  .company {
      left: 38%;
  }
}
@media (max-width: 550px){

  .company {
      padding-left: 40px;
      margin: 0 auto;
      width: 300px;
      left: 0;
      padding-top: 30px;
  }
  #fullpage {
      margin-top: 50px;
  }
}

.company__link {
  font-size: 18px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #363481 0%, #24967A 100%);
  border-radius: 24px;
  text-decoration: none;
  padding: 12px 60px;
  display: inline-block;
  margin-top: 20px;
  transition: all .3s;

}
.company__info {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      letter-spacing: 0.24em;
      color: #E6E6E6;
      margin-bottom: 30px;
  }

  @media (max-width: 1024px){

      .company__info {
          font-size: 14px;
      }
  }
  @media (max-width: 480px){

      .company__info {
          font-size: 12px;
          margin-bottom: 15px;
      }
  }

.company__title {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 60px;
      letter-spacing: 15px;
      color: #FFFFFF;
      margin-bottom: 33px;
      width: 530px;
      border-bottom: 2px solid #00FFFF;
      padding-bottom: 20px;
  }

@media (max-width: 1024px){

  .company__title {
      font-size: 30px;
  }
}

@media (max-width: 768px){

  .company__title {
      font-size: 20px;
      line-height: 30px;
      width: 335px;
  }
}
@media (max-width: 550px){

  .company__title {
      font-size: 26px;
      line-height: 30px;
      width: 260px;
      letter-spacing: 5px;
      margin-bottom: 10px;
      padding-bottom: 10px;
  }
}
.company__title-span {
  color: #00FFFF;
  display: block;
}

.company__title-spanCounter {
  color: #00FFFF;
}
.company__disc {
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  width: 474px;
  width: 685px;
  letter-spacing: 0.02em;
  position: relative;
}

@media screen and (max-width: 1024px){

  .company__disc {
      font-size: 14px;
  }
}
@media(max-width: 1400px) {

  .company__disc {
      width: 535px;
  }
}

@media(max-width: 1200px) {

  .company__disc {
      width: 535px;
  }
}

@media(max-width: 768px) {

  .company__disc {
      width: 335px;
      font-size: 16px;
      line-height: 30px;
  }
}
@media(max-width: 550px) {

  .company__disc {
      width: 260px;
      font-size: 14px;
      line-height: 18px;
      
  }
}
.company__page {
  color: var(--gray);
  border-bottom: 3px solid #00FFFF;
  width: 101px;
  text-align: center;
  padding-bottom: 10px;
  margin-left: auto;
  position: fixed;
  bottom: 20px;
  left: 40%;
  z-index: 12;
  background: transparent;
  display: none;
}

@media (max-width: 550px) {
  .company__page {
      padding: 0px;
      bottom: 15px;
  }
}

.company__contact {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

@media(max-width: 480px) {
  .company__contact {
      font-size: 14px;
  }
}

.company__contact-wrap {
  display: flex;
}
@media(max-width: 480px) {
  .company__contact-wrap {
      flex-direction: column;
  }
}

.company__contact__ctitle {
  width: 80px;
}

@media(max-width: 480px) {
  .company__contact__ctitle {
      color: #7A7A7A;
  }
}

.company__contact__cdisc a{
  color: white;
  text-decoration-line: none;
}

.company__icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  margin-top: -72px;
  right: 50px;
  z-index: 12;
  transition: all .3s;
}

@media (max-width: 480px) {
  .company__icons {
      flex-direction: row;
      top: 20px;
      margin:0;
      right: 0;
  }
  
}
.company__icons a {
  outline: none;
}

.company__icons a:nth-child(1) .company__icons-icon {
  background: url("../img/svg/vkt.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .3s;
}
.company__icons a:nth-child(2) .company__icons-icon {
  background: url("../img/svg/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .3s;
}
.company__icons a:nth-child(3) .company__icons-icon {
  background: url("../img/svg/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .3s;
}
.company__icons a:nth-child(4) .company__icons-icon {
  background: url("../img/svg/ins.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .3s;
}
.company__icons a:hover .company__icons-icon {
  border: 1px solid white;
  transition: all .3s;
}

.company__slog {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  position: fixed;
  z-index: 12;
  bottom: 20px;
  right: 50px;
}

.company__slog a{
  color: #4F4F4F;
  text-decoration: none;
  transition: all .3s;
}

.company__slog a:hover{
  color: #7c7a7a;
}

@media (max-width: 768px) {
  .company__slog {
      display: none;
  }
}

#gradient {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 115px;
  left: -150px;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 11;
  border-radius: 50%;
}

@media(max-width: 768px) {
  #gradient {
      width: 300px;
      height: 300px;
      left: -100px;
  }
}
@media(max-width: 550px) {
  #gradient {
      /*display: none;*/
  }
}

.company__form {
  display: flex;
  flex-direction: column;
}


.company__form-input {
  font-family: Cuprum;
  font-size: 18px;
  color: #7A7A7A;
  width: 305px;
  background: transparent;
  border: none;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid white;
  outline: none;
}

.company__form-btn {
  width: 227px;
  height: 46px;
  background: linear-gradient(90deg, #363481 0%, #24967A 100%);
  border-radius: 50px;
  border: none;
  color: white;
  font-family: Cuprum;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}



@media (max-width: 480px) {
  .company__form {
      display: none;
  }
}


.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.6);
  Z-INDEX: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  /* display: none; */
}
.overlay-active {
  /* display: block; */
  opacity: 1;
  Z-INDEX: 999;
}

.modal {
  max-width: 570px;
  height: 320px;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background: black;
  padding: 10px;
  
}
.modal__name {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  padding-top: 10px;
  color: #00DFFF;
}

.modal__title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 47px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 2px solid #00DFFF;
  padding-bottom: 20px
}

.modal__disc{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
}

.modal__img {
  padding-top: 20px;
}


@media(max-width: 768px) {
  #gradient {
      width: 300px;
      height: 300px;
      left: -100px;
  }
  .modal__name {
      font-size: 22px;
  }
  
  .modal__title {
  font-size: 24px;
  }
  
  .modal__disc {
      font-size: 18px;
  }
}

/***********************************************************/
#fp-nav {
  /* z-index: 4; */
  left: 50px;
  transition: all .3s;
}

@media (max-width: 768px) {
  #fp-nav {
      left: 10px;
  }
}
/* 
#fp-nav .active span {
  background: white;
  width: 6px;
  height: 6px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #737373;
  width: 6px;
  height: 6px;
}

#fp-nav ul li, .fp-slidesNav ul li {
  
  width: 14px;
  height: 14px;
  margin-bottom: 15px;
  
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
  background: white;
  transform: translate(4px,3px);
  height: 6px;
  width: 6px;
  transition: all .3s;
}
#fp-nav ul li a.active span::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  top: -8px;
  left: -8px;
  transition: all .3s;
}

#fp-nav ul li:hover a span {
  color: white;
} */




#fp-nav ul li a span {
  width: 6px;
  height: 6px;
  
}
#fp-nav ul li {
  margin-bottom: 20px;
}
#fp-nav ul li a.active span {
  background: white;
  transition: all .5s;
}

#fp-nav ul li a.active span:before {
  content: "";
  width: 22px;
  height: 22px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  display: block;
  top: -9px;
  left: -9px;
  transition: all .3s;
}
@media screen and (max-height: 475px) {
  .fp-tableCell {
      padding-top: 30px;
  }
  .company {
  left: 35%;
  }
  .company__info {
      margin-bottom: 20px
  }
  .company__title {
      width: 445px;
      padding-bottom: 5px;
      margin-bottom: 5px;
  }
  #gradient {
      width: 500px;
      height: 500px;
  }
}

@media screen and (max-height: 375px) {

  .company {
      width: 400px;
      padding-left: 10px;
      margin-top: -65px;
      left: 5%;
  padding-top: 50px;
  }
  .company__info {
      margin-bottom: 10px;
  }

  .company__title {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 12px;
      border-bottom: 2px solid #00FFFF;
      padding-bottom: 10px;
      margin-bottom: 10px;
      width: 400px;
  }

  .company__page {
      right: 10px;
      bottom: 10px;

  }

  .company__disc {
      font-size: 14px;
      line-height: 16px;
      width: 400px;
  }


  .fp-tableCell {
      padding-top: 45px;
  }

  .firstblock-ellipceRight {
      width: 300px;
      height: 300px;
  }

  .firstblock-ellipceLeft {
      width: 300px;
      height: 300px;
  }
  .firstblock__content {
      width: 90px;
      height: 90px;
  }
  .firstblock__content__logo {
      font-size: 40px;
      padding-top: 0;
      line-height: 90px;
  }

  .firstblock__content__disc {
      font-size: 14px;
      width: 90px;
      top: 140px;
  }

  #gradient {
     /* display: none;*/
  }

  .company__form {
      display: block;
  }

  .company__form-input{
      font-size: 14px;
      width: 160px;
      margin-right: 10px;
  }

  .company__form-btn {
      font-size: 14px;
      width: 130px;
      margin-top: 0px;
  }

  .company__form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: -20px;
  }
  .company__contact {
      font-style: 14px;
  }
}

.owl-carousel .owl-item .dflex img {
  width: auto !important;
  padding: 20px;
}