.dead {
  padding-left: 185px;


  @media(max-width: 600px){
      padding-left: 40px;
  }

  .title {
      font-weight: bold;
      font-size: 30px;
      letter-spacing: .2em;
  }

  &-item {
      margin-bottom: 150px;
  }

  .dead__title {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 30px;
      position: relative;

      background: linear-gradient(175.35deg, #12E7CD 3.01%, #137CDC 87.34%);

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
          content: "";
          width: 443px;
          height: 95px;
          background-repeat: no-repeat;
          position: absolute;
          left: -190px;
          top: -30px;

          @media(max-width: 600px){
              left: -140px;
          }

      }

       &-one {

          &::after{
              background-image: url("../img/news/dead/1.svg");
          }
          
      }

      &-two {

          &::after{
              background-image: url("../img/news/dead/2.svg");
          }
      }

      &-three {

          &::after{
              background-image: url("../img/news/dead/3.svg");
          }
      }

      &-fhour {

          &::after{
              background-image: url("../img/news/dead/4.png");
          }
      }
  }

  .dead__disc {
      max-width: 685px;
      font-size: 18px;
  }

}


.news-content__dead-title {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: .2em;
    margin-bottom: 100px;
}