.design {
    padding-left: 185px;
    padding-top: 80px;

    @media(max-width: 600px){
        padding-left: 40px;
    }

    &-item {
        margin-bottom: 150px;
    }

    .design__title {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: "";
            width: 443px;
            height: 95px;
            background-repeat: no-repeat;
            position: absolute;
            left: -190px;
            top: -30px;

        }

        &::before {
            content: "Совет";
            background: linear-gradient(169.3deg, #BC12E7 3.01%, #DC1368 87.34%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            top: -35px;
            font-size: 18px;
           
        }

        &-one {

            &::after{
                background-image: url("../img/news/design/1.svg");
            }
            
        }

        &-two {

            &::after{
                background-image: url("../img/news/design/2.svg");
            }
        }

        &-three {

            &::after{
                background-image: url("../img/news/design/3.svg");
            }
        }

        &-fhour {

            &::after{
                background-image: url("../img/news/design/4.png");
            }
        }
    }

    .design__disc {
        font-size: 18px;

        span {
            color: #c413ca;
            font-size: 30px;
            font-weight: bold;
        }
    }

}