.blogs-rep__news {

    &-date {
        font-size: 16px;
        opacity: .6;
        margin-bottom: 50px;
    }

    &-title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 30px;
    }

    &-disc {
        font-size: 18px;

        a {
            color: #fff;
        }
    }
}

.news-content {

    .row-devers {
        display: flex;
        margin-bottom: 50px;

        @media(max-width: 768px){
            flex-wrap: wrap;width: 100%;
        }
        

        .col {
            width: 41%;

            @media(max-width: 768px){
                width: 100%;
            }

            p {
                font-size: 18px;
            }

            ul {

                list-style-type: none;
                padding: 0;
                margin-bottom: 30px;

                li {
                    font-size: 18px;
                    margin-bottom: 10px;

                    &::before {
                        content: url("../img/news/divers/arr.svg");
                        background-position: center;
                        margin-right: 15px;
                        position: relative;
                        top: 10px;
                    }
                }

            }
        }

        .col:first-child {
            margin-right: 150px;

            @media(max-width: 768px){
                margin-right: 0px;
            }
        }

    }

    .news-wrapper-img {
        background-image: url("../img/news/divers/group.svg");
    }

    .news-diver {

        &__title {
            font-weight: bold;
            font-size: 30px;
            max-width: 645px;
            margin: 0 auto;

            ul {
                list-style-type: none;
                padding: 0;
                margin-bottom: 30px;

                li {
                    font-size: 18px;
                    margin-bottom: 10px;
                    display: flex;

                    &::before {
                        content: url("../img/news/divers/arr.svg");
                        background-position: center;
                        margin-right: 15px;
                        position: relative;
            
                    }
                }
            }
        }

        &__ps {

            .row {
                display: flex;
            }

            .col:first-child {
                color: #EE127C;
                font-size: 60px;
                margin-right: 15px;

                @media(max-width: 480px){
                    font-size: 22px;
                    margin-right: 5px;
                }
            }

            .col-disc {
                max-width: 530px;
                padding-top: 35px;
                font-size: 18px;

                  @media(max-width: 480px){
                    font-size: 14px;
                    padding-top: 20px;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #EE127C;
                    display: inline-block;
                }
            }
        }
    } 
}