.wrapper.news {
  display: block;
}
.news {

    &-content {
        padding-top: 40px;
    }

  .company__icons {
    @media (max-width: 480px) {
      background: black;
      width: 100%;
      z-index: 11;
      top: 0px;
      height: 50px;
      align-items: center;
    }
  }
  .company__icons a:first-child {
    margin-left: auto;
  }

  .sort-alert {
    background-color: #4A4A4E;
    width: 200px;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 115px;
    top: 170px;

    &-active {
      display: block;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-left: 25px;
      padding-top: 10px;

      li {
        padding-bottom: 10px;
        
        span {
          cursor: pointer;
          transition: all .8s;
          color: white;
          font-size: 16px;
          font-weight: 400;
          &:hover {
            opacity: .3;
          }
        }
      }
    }
  }
}

.news-container {
    max-width: 1024px;
    margin: 0 auto;
    font-family: Cuprum, sans-serif;;

    @media(max-width: 1200px){
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
    }
    @media(max-width:768px){
      padding-left: 50px;
    }
    @media(max-width:480px){
      padding-right: 10px;
    }

    .sort {
      padding-top: 140px;
      padding-bottom: 80px;
      position: relative;

      @media(max-width:768px){
        padding-top: 80px;
        padding-bottom: 40px;
      }

      &-name {
        font-weight: bold;
        font-size: 18px;
        color: #4A4A4E;
        border-bottom: 1px solid #4A4A4E;
        padding-bottom: 5px;
        margin-right: 10px;

      }

      &-param {
        font-size: 18px;
        cursor: pointer;

        
        &:after {
          content: "";
          border: 5px solid transparent;
          border-top: 5px solid #fff;
          display: inline-block;
          position: relative;
          top: 4px;
          left: 5px;
        }
      }
    }

    .blogs {
      &-title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 214px;
        height: 48px;
        border-radius: 80px 0px 80px 0px;

        &-blog {
          background: linear-gradient(172.76deg, #12E7CD 3.01%, #137CDC 87.34%);
        }
        &-report {
          background: linear-gradient(172.76deg, #BC12E7 3.01%, #DC1368 87.34%);
        }
        &-razbor {
          background: linear-gradient(172.76deg, #E7B812 3.01%, #DC4313 87.34%);
        }
      }

    }
    .blogs-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0;
    }

    .blogs-item {
      display: flex;
      margin-bottom: 40px;

      @media(max-width: 1200px) {
        width: 49%;
      }
      @media(max-width:768px){
        width: 100%;
      }
      @media(max-width: 480px){
        display: flex;
        flex-direction: column;
      }

      .img {
        width: 190px;
        height: 213px;
        position: relative;
        overflow: hidden;
        border-radius: 20px 0 0 20px;
        @media(max-width:480px){
          width: 100%;
        }
      }

      img {
        height: 100%;
        position: relative;
        z-index: 2;
        transform: translateX(-50%);
        left: 50%;
      }
      .maska-back {
        background: #39393D;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .maska-face {
        position: absolute;
        z-index: 3;
        width: 300px;       
        height: 100%;
        background: #101011;
        top: 0;
        opacity: .5;
        transform: rotate(-60deg) translate(-25px,-140px);
      }

      .caption {
        width: 280px;
        padding-left: 40px;

        @media(max-width:480px){
          width: 100%;
          padding-left: 0;
        }

        &-date {
          font-size: 12px;
          color: #FFFFFF;
          opacity: 0.6;
          padding-top: 10px;
          margin-bottom: 20px;
        }

        &-title {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 8px;
          max-height: 80px;
          overflow: hidden;
        }

        &-text {
          font-size: 12px;
          overflow: hidden;
          max-height: 35px;
          margin-bottom: 5px;
          position: relative;

          &-shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, #0C0B0B 0%, rgba(12, 11, 11, 0.18) 100%);
          }
          
        }

        &-link {
          font-size: 14px;
          color: #D9D9D9;
          text-decoration: none;
          border-radius: 24px;
          border: 1px solid #D9D9D9;
          background: rgba(255, 255, 255, 0.1);
          padding: 8px 30px;
          display: inline-block;
          transition: all .3s;

          &:hover{
            color: #15F7F7;
            background: rgba(21, 247, 247, 0.1);
            border: 1px solid #15F7F7;
          }
        }
      }
      
    }
}

