.row-eff__header {

    .row{
        display: flex;
        margin-bottom: 80px;

        @media(max-width: 768px){
            flex-wrap: wrap;
        }
    }

    .col{
        width: 50%;



        &-first {
            margin-right: 150px;

            h2 {
                padding-top: 20px;
            }
        }

        &-two {

            p {
                margin-bottom: 30px;
            }
        }

        @media(max-width: 768px){
            width: 100%;
            margin-right: 0;
        }
    }

    ul {
        list-style-type: none;

        padding: 0;
        margin-bottom: 30px;

        li {
            font-size: 18px;
            margin-bottom: 10px;
            display: flex;

            &::before {
                content: url("../img/news/eff/arr2.svg");
                background-position: center;
                margin-right: 15px;
                position: relative;
    
            }
        }
    }

    p {
        font-size: 18px;
    }

    .title {
        font-size: 30px;
        letter-spacing: .2em;
        font-weight: bold;
        max-width: 988px;
        margin-bottom: 40px;
    }
}

.row-baz {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    @media(max-width: 768px){
        flex-wrap: wrap;
    }

    .col {
        width: 28%;

        @media(max-width: 768px){
            width: 100%;
            margin-bottom: 40px;
        }
    }

    .img {
        margin: 0 auto;
        margin-bottom: 25px;

        &-pink {
            width: 136px;
            height: 144px;
            background-image: url("../img/news/eff/ell.svg");
        }

        &-green {
            width: 130px;
            height: 138px;
            background-image: url("../img/news/eff/shz.svg");
        }

        
        &-fiol {
            width: 138px;
            height: 140px;
            background-image: url("../img/news/eff/fiol.svg");
        }
    }
    
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        
        letter-spacing: 0px;


        &-pink {
            color: #FF326F;

            &::after {
                content: "";
                background-image: url("../img/news/com/line1.svg");
                width: 100%;
                height: 8px;
                display: block;
            }
        }

        &-green {
            color: #01B5AC;

            &::after {
                content: "";
                background-image: url("../img/news/com/line2.svg");
                width: 100%;
                height: 2px;
                display: block;
            }
        }

        &-fiol {
            color: #FF40EC;

            &::after {
                content: "";
                background-image: url("../img/news/com/line3.svg");
                width: 100%;
                height: 6px;
                display: block;
            }
        }
    }

    span {
        font-weight: bold;
        font-size: 30px;
        
        &.pink {
            color: #FF326F;
        }

        &.green {
            color: #01B5AC;
        }

        &.fiol {
            color: #FF40EC;
        }
    }
}

.row-af {
    display: flex;
    justify-content: space-between;

    @media(max-width: 768px) {
        flex-wrap: wrap;
    }

    .col {
        width: 40%;

        @media(max-width: 768px) {
            width: 100%;
        }
    }

    p {
        font-size: 24px;

        a {
            color: white;
        }
    }

    h2 {
        font-size: 26px;
    }
}