.row-com {

    .title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: .2em;
        margin-bottom: 60px;

    }

    &__block {
        display: flex;
        margin-bottom: 80px;
        
        @media(max-width: 768px){
            flex-wrap: wrap;
        }

        .col {

            &-disc {
                padding-left: 20px;

                @media(max-width: 768px){
                    padding-left: 0px;
                }
            }
            
            @media(max-width: 900px){
                width: 50%;
            }

            @media(max-width: 768px){
                width: 100%;
            }
        }

        .img-ell {
            background-image: url("../img/news/com/ell.svg");
            width: 303px;
            height: 464px;
            margin-right: 40px;
            background-repeat: no-repeat;
            @media(max-width: 900px){
                width: 100%;
                background-size: contain;
                background-position: center;
            }
            @media(max-width: 768px){
                margin-right: 0px;
            }

        }

        .img-ist {
          background-image: url("../img/news/com/ist.svg");
          width: 303px;
          height: 452px;
          margin-right: 40px;
          background-repeat: no-repeat;
          @media(max-width: 900px){
              width: 100%;
              background-size: contain;
              background-position: center;
          }
          @media(max-width: 768px){
              margin-right: 0px;
          }

      }

        .img-shizoid {
            background-image: url("../img/news/com/shizoid.svg");
            width: 343px;
            height: 468px;
            margin-left: 40px;
            background-repeat: no-repeat;
            @media(max-width: 900px){
                width: 100%;
                background-size: contain;
                background-position: center;
            }
            @media(max-width: 768px){
                margin-left: 0px;
            }
        }

        .texttitle {
            font-size: 30px;
            margin-bottom: 0;
            display: inline-block;

            @media(max-width: 480px){
                font-size: 21px;
            }
        }

        .texttitle-pink {
            color: #FF326F;

            &::after {
                content: "";
                background-image: url("../img/news/com/line1.svg");
                max-width: 100%;
                height: 8px;
                display: block;
            }
        }

        .texttitle-pinkin {
            color: #FF40EC;

            &::after {
                content: "";
                background-image: url("../img/news/com/line3.svg");
                max-width: 100%;
                height: 6px;
                display: block;
            }
        }

        .texttitle-green {
            color: #01B5AC;
            
            &::after {
                content: "";
                background-image: url("../img/news/com/line2.svg");
                width: 100%;
                height: 2px;
                display: block;
            }
        }

        

        .textdisc {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

}

.row-com__block-revers {
    flex-direction: row-reverse;
}

.row-com__disc {
    display: flex;
    margin-bottom: 80px;

    @media(max-width: 768px){
        flex-wrap: wrap;
    }

    .col {
        width: 50%;

        @media(max-width: 768px){
            width: 100%;
        }
    }

    .col:first-child{ 
        max-width: 450px;
        margin-right: 150px;

        @media(max-width: 768px){
            max-width: 100%;
            margin-right: 0px;
        }

    }

    .title {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.2em;
    }
    
    .disc {
        font-weight: normal;
        font-size: 20px;
    }
}

.row-com__after {
    display: flex;

    @media(max-width: 768px){
        flex-wrap: wrap;
    }

    .col-color {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: .2em;
        color: #15F7F7;
        margin-right: 20px;


        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #15F7F7;
            display: block;
        }
    }

    .col-disc {
        font-size: 18px;
        max-width: 400px;
        padding-top: 30px;
    }
}