.box {

    &-content {

        p { 
            font-size: 18px;
            margin-bottom: 25px;
        }

        p.mrb80 {
            margin-bottom: 80px;
        }

        h2 {

            a {
                color: white;
            }

            span {
                color: #15F7F7;
            }
        }

        .title {
            font-size: 40px;
            letter-spacing: .2em;
            color: #15F7F7;
            padding-top: 50px;
        }

        h2.mw {
            max-width: 685px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 80px;
    
            li {
                font-size: 18px;
                margin-bottom: 10px;
                display: flex;
    
                &::before {
                    content: url("../img/news/divers/arr.svg");
                    background-position: center;
                    margin-right: 15px;
                    position: relative;
        
                }
            }
        }
      
    }
}

.box-down {
    display: flex;
    margin-bottom: 80px;

    @media(max-width: 768px){
        flex-wrap: wrap;
    }

    .col {
        @media(max-width: 768px){
            width: 100%;
        }
    }

    .col-first {
        max-width: 531px;
        margin-right: 120px;

        @media(max-width: 768px){
            width: 100%;
            max-width: 100%;
            margin-right: 0px;
        }

        span {
            color: #15F7F7;
        }

        h2 {
            margin-bottom: 30px;
        }

        a {
            color: white;
        }
    }

    .col-link {

        .img {
            background-image: url("../img/news/box/anketa.svg");
            width: 186px;
            height: 183px;
            position: relative;

            &::before {
                content: "";
                width: 106px;
                height: 60px;
                background-image: url("../img/news/box/arr3.svg");
                position: absolute;
                bottom: 0;
                left: -150px;

                @media(max-width: 768px){
                    left: 200px;
                    transform: rotate(180deg);
                }

                @media(max-width: 480px){
                    display: none;
                }
                
            }
        }

    }

}

.box-after {

    .row {
        display: flex;
        margin-bottom: 80px;

        @media(max-width: 768px){
            flex-wrap: wrap;
        }
    }

    .col{
        @media(max-width: 1024px){
            width: 50%;
            margin-right: 20px;
        }

        @media(max-width: 768px){
            width: 100%;
        }
    }

    .title {
        font-weight: bold;
        font-size: 30px;
        color: #15F7F7;
        margin-bottom: 30px;
    }

    .disc{
        font-size: 18px;
    }
    

    .img {
        margin-right: 40px;



        &-1 {
            background-image: url("../img/news/box/img1.svg");
            width: 417px;
            height: 281px;
        }

        &-2 {
            background-image: url("../img/news/box/img2.svg");
            width: 417px;
            height: 281px;
        }

        @media(max-width: 1024px){
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            
        }
        @media(max-width: 768px){
            background-position: center 75%;
        }
    }

    .end {
        max-width: 988px;
        letter-spacing: .2em;
        font-size: 24px;
        font-weight: bold;
    }
}