
@import "normalize.css";
@import "main.css";
@import "news.css";
@import "keys.css";
@import "blogs-rep.css";
@import "keys-biblionoch.css";
@import "keys-krokapp.css";
@import "keys-slavgorod.css";
@import "news-divers.css";
@import "news-com.css";
@import "news-eff.css";
@import "news-box.css";
@import "news-design.css";
@import "news-dead.css";

@import "fullpage.css";

@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

:root {
    --default: "Roboto" , sans-serif;
    --gray: #828282;
    --blue: #56ccf2;
    --yellow: #f2c94c;
    --white: #fff;
    --black: #000;
    --gold: #c8a35f;
    --dark: #2f343a;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    font-family: var(--default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    background-color: #0B0B0C;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1170px) {
    .container {
        width: 95%;
    }
}

.arrow {
    background: #272626;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    left: 25px;
    background-image: url(../img/arrow.svg);
    background-position: center;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    display: none;

    &::after{
        content: "наверх";
        font-size: 16px;
        position: relative;
        top: 75px;
        left: 10px;
        opacity: .2;
    }

    @media(max-width: 768px){
        width: 40px;
        height: 40px;
        bottom: 20px;
        left: 5px;
    }
}

.arrow-disc{
    position: fixed;
    z-index: 5;
    bottom: 155px;
    left: 25px;
    display: none;

    a {
        text-decoration-line: underline;
        font-size: 16px;
        color: #D9D9D9;
        opacity: 0.8;
        cursor: pointer;
    }
}