﻿@@include('template/header.html')
<div class="firstblock">
    <div class="firstblock-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="firstblock-btn-mobile">
        <span></span>
        <span></span>
        <span></span> 
    </div>
    <div class="firstblock__copyr">
        ©2020. Разработано <a href="https://biz-up.by/" target="_blank">BizUp Studio</a>  
    </div>
    <div class="firstblock-ellipceLeft">
        <picture>
            <img src="img/Ellipsel.png" alt="logo1" >   
        </picture>
    </div>
    <div class="firstblock-ellipceRight">
        <picture>
            <img src="img/Ellipse.png" alt="logo" >
        </picture>
    </div>
    <div class="firstblock__content"> 
        <div class="firstblock__content__logo">SFY</div>
    </div>
    <div class="firstblock__content__disc">project group</div>
</div>
<div class="wrapper">
    <div id="gradient"></div> 
    <div class="fullpage-blackBlock"></div>
    <div class="wrapper-btn wrapper-btn-index">
        <span></span>
        <span></span> 
        <span></span>
    </div>
    <div class="company__page"><span class="company__title-spanCounter">01</span> - 05</div>
    <div class="company__icons">
        <a href="https://vk.com/sfy_group" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.facebook.com/sfygroup/" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://t.me/sfy_project" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.instagram.com/sfy_project/?hl=ru" target="_blank"><div class="company__icons-icon"></div></a>
    </div>
    <div class="company__slog">©2020. Разработано <a href="https://biz-up.by/" target="_blank">BizUp Studio</a></div>
    <div id="fullpage"  class="fullpage">
         <div class="section active" id="section1">
            <div class="container">
                <div class="company">
                    <div class="company__info">О КОМПАНИИ</div>
                    <div class="company__title">Превращаем<br> мечты в<br> <span class="company__title-span">достижения</span></div>
                    <div class="company__disc">
                        За три года SFY из маленького проекта о людях и для людей вырос в организацию, управляющую группой компаний. Мы точно знаем, что мечты сбываются, если над ними правильно работать. И мы также знаем как это сложно, когда некуда обратиться за поддержкой. Поэтому деятельность SFY всегда будет направлена на продвижение и развитие тех, кто хочет сделать этот мир лучше, удобнее и добрее. 
                    </div>
                </div>
            </div>
        </div> 
        <div class="section" id="section2">
                <div class="container">
                    <div class="company">
                        <div class="company__info">ДЛЯ КОМПАНИЙ</div>
                        <div class="company__title">Back-end вашего<br><span class="company__title-span">бизнеса</span></div>
                        <div class="company__disc">
                            Как выживать в условиях быстро меняющегося рынка и неуспевающего за этими изменениями законодательства? 
                            Как сочетать креативное продвижение и классические методы ведения бизнеса? Как обеспечить безопасность 
                            деятельности компании с юридической и бухгалтерской точки зрения? Как масштабироваться и уходить от операционки? 
                            Любую ситуацию мы рассматриваем комплексно и находим решения, подходящие именно вам. 
                        </div>
                    </div>
                </div>
            </div>
        <div class="section" id="section3">
            <div class="container">
                <div class="company">
                    <div class="company__info">ДЛЯ ПРОЕКТОВ</div>
                    <div class="company__title">Black Box для<br> <span class="company__title-span">стартапов</span></div>
                    <div class="company__disc">
                        SFY уже прошел свою «долину смерти», кардинально поменявшись несколько раз на протяжении всего пути и поняв, 
                        что в изменениях нет ничего страшного. Теперь мы хотим поддержать таких же начинающих, как и мы когда-то. 
                        Программа Black Box поможет в краткие сроки понять, как можно развивать вашу идею, подскажет пути ее реализации 
                        и подготовит проект к дальнейшей презентации инвесторам или началу деятельности устойчивого бизнеса.
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section4">
            <div class="container">
                <div class="company">
                    <div class="company__info">ДЛЯ ПАРТНЕРОВ</div>
                    <div class="company__title">Собственные<br> <span class="company__title-span">разработки</span></div>
                    <div class="company__disc">
                        В свободное время команда SFY генерирует и реализовывает собственные идеи: от организации мероприятий до
                            IT-проектов. Мы открыты для совместной работы и создания новых невероятных продуктов и направлений в бизнесе.
                        </div>
                </div>
            </div>
        </div>
        <div class="section" id="section7">
            <div class="container">
                <div class="company">
                    <div class="company__info">О КЛИЕНТАХ</div>
                    <div class="company__title">Наши<span class="company__title-span">Кейсы</span></div>
                    <div class="company__disc">
                        Самое интересное в теории – это практика. А точнее знания и опыт, приобретаемый тогда, когда определения из учебника сталкиваются с реальной жизнью. Кейс-метод – давно признан одной из самых эффективных техник обучения, использующих описание реальных экономических, социальных и бизнес-ситуаций. Исследуя конкретную ситуацию, основанную на реальном фактическом материале, гораздо легче разобраться в сути проблем, предложить возможные решения и выбрать лучшее из них.
                    </div>
                    <a href="keys.php" class="company__link">Смотреть кейсы</a>
                </div>
            </div>
        </div>
        <div class="section" id="section6">
            <div class="container">
                <div class="company">
                    <div class="company__info">СТАТЬИ</div>
                    <div class="company__title"><span class="company__title-span">Блог</span></div>
                    <div class="company__disc">
                        Тексты для той части души, которая интересуется темами, связанными с управлением проектами и развитием коммуникативных навыков. Как работать в разношерстной команде, проявлять гибкость не прогибаясь, улаживать конфликты еще до их зарождения, уметь убеждать здравым смыслом и находить win-win компромиссы.
                    </div>
                    <a href="news.php" class="company__link">Читать статьи</a>
                </div>
            </div>
        </div>
        <div class="section" id="section5">
        <div class="container">
                <div class="company">
                    <div class="company__info">КОНТАКТЫ</div>
                    <div class="company__title"><span class="company__title-span">Контакты</span></div>
                    <div class="company__contact">
                        <div class="company__contact-wrap">
                            <div class="company__contact__ctitle">Адрес: </div>
                            <div class="company__contact__cdisc">г. Минск, ул. Тимирязева 65А, оф 508 </div>
                        </div>
                        <div class="company__contact-wrap">
                            <div class="company__contact__ctitle">Телефон:  </div>
                            <div class="company__contact__cdisc"><a href="tel:375291919327"  target="_blank">+375 (29) 19 19 327</a></div>
                        </div>
                        <div class="company__contact-wrap">
                            <div class="company__contact__ctitle">E-mail:  </div>
                            <div class="company__contact__cdisc"><a href="mailto:sfyprojects@gmail.com"  target="_blank">sfyprojects@gmail.com</a></div>
                        </div>
                    </div>
                    <form class="company__form" method="post" enctype="multipart/form-data">
                        <input type="text" placeholder="Имя" name="name" class="company__form-input" minlength="2" required autocomplete="off">
                        <input type="text" placeholder="Телефон" name="phone" class="company__form-input" minlength="5" required autocomplete="off">
                        <button type="submit" class="company__form-btn">Оставить заявку</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div> 
<div class="overlay">
    <div class="modal">
        <div class="modal__name"></div>
        <div class="modal__title">Спасибо за заявку!</div>
        <div class="modal__disc">Наш менеджер свяжется с вами в ближайшее время.</div>
        <div class="modal__img"><img src="img/mail.png" alt="logo"></div>
    </div>
</div>
@@include('template/footer.html')



 