@@include('template/header.html')
<div class="wrapper news">
    <div class="wrapper-btn wrapper-btn-prev-keys">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="company__icons">
        <a href="https://vk.com/sfy_group" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.facebook.com/sfygroup/" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://t.me/sfy_project" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.instagram.com/sfy_project/?hl=ru" target="_blank"><div class="company__icons-icon"></div></a>
    </div>

    <div class="arrow"></div>
    <div class="arrow-disc"><a>Вернуться к списку кейсов</a></div>
    <div class="news-container">
        
        <div class="blogs blogs-rep">
            <div class="keys-title keys-title-orange">Менторинг</div>
            <h1 class="keys-nametitle">KrokApp</h1>
            <h3 class="keys-nametitledisc">Персанальны аўдыягід па Беларусі</h3>
            <div class="blogs-rep__row">
                <div class="blogs-rep__img">
                    <div class="blogs-rep__image">
                        <img src="img/keys/krokapp/keyup.png" alt="img1">
                    </div>
                </div>
                <div class="blogs-rep__caption">
                    <div class="blogs-rep__date-title blogs-rep__caption-orange">Период сотрудничества:</div>
                    <div class="blogs-rep__date-text blogs-rep__caption-disc">декабрь 2016</div>
                    <div class="blogs-rep__location-title blogs-rep__caption-orange">Задача:</div>
                    <div class="blogs-rep__location-text blogs-rep__caption-disc">Оказание менторской поддержки проекту во время участия в конкурсе Social Weekend</div>
                    <div class="blogs-rep__konzept-title blogs-rep__caption-orange">Детали:</div>
                    <div class="blogs-rep__konzept-text blogs-rep__caption-disc">Сопровождение проекта во время обучения, подготовка к выступлению в полуфинале и финале конкурса SW. Анализ слабых сторон, предложение вариантов развития и улучшения приложения.</div>
                </div>
            </div>
            <div class="keys__content">
                <div class="keys__sliderBlock">
                    <div class="keys__sliderBlock-text">
                        <div class="keys__sliderBlock-text-title">О проекте</div> 
                        <div class="keys__sliderBlock-text-title-add">KrokApp является полностью бесплатным мобильным приложением для пользователей Android.</div> 
                        <p class="keys__sliderBlock-text-disc-add">Интенсивная разработка приложения была начата в 2016 году SSRlab – лабораторией синтеза и распознавания речи ОИПИ НАН Беларуси. На данный момент приложение насчитывает более тысячи скачиваний, средняя оценка – 4,2.</p>
                        <p class="keys__sliderBlock-text-disc-add">Проверенный сотрудниками Института истории НАН Беларуси контент переводится и начитывается сотрудниками лаборатории синтеза и распознавания речи.</p> 
                        <p class="keys__sliderBlock-text-disc-add">Контент представлен на пяти языках – белорусский, русский, английский, чешский, китайский. Но, к сожалению, пока не в равной степени. Максимальное количество контента доступно в белорусскоязычном варианте KrokApp, мнимальное – в чешском и китайском вариантах.</p> 
                    </div>
                    <div class="keys__sliderBlock-img">
                        <div class="owl-carousel owl-carousel-bibnoch">
                            <div class="dflex"> <img src="img/keys/krokapp/keyup1.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup2.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup3.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup4.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup5.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup6.png" alt="image" /> </div>
                            <div class="dflex"> <img src="img/keys/krokapp/keyup7.png" alt="image" /> </div>

                          </div>
                    </div>
                </div>
                <div class="profit">
                    <div class="item">
                        <div class="item__title">Достижения</div>
                        <div class="item__div">
                            <span>В</span>сего на 10-03-2018 в белорусскоязычной версии добавлена информация о 50 городах Беларуси (150 карточек объектов, т.е. в среднем мы рассказываем о 3 объектах в отдельно взятом городе).
                        </div>
                        <div class="item__div"><span>Н</span>а данный момент можно рассчитывать маршрут по ближайшим точкам в зависимости от количества свободного времени и интересов пользователя</div>
                        <div class="item__div"><span>О</span>тмечать объекты как избранные для облегчения поиска</div>
                        <div class="item__div"><span>С</span>качивать материалы об объектах для ознакомления оффлайн. </div>
                    </div>
                    <div class="item">
                        <div class="item__title">Планы</div>
                        <div class="item__div"><span>Д</span>обавление элементов дополненной реальности, реклама проекта, вывод проекта KrokApp на самообеспечение</div>
                    </div>
                </div>
       
            </div>
        </div>
    </div>
</div>
@@include('template/footer.html') 
