@@include('template/header.html')
<div class="wrapper news">
    <div class="wrapper-btn wrapper-btn-prev">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="company__icons">
        <a href="https://vk.com/sfy_group" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.facebook.com/sfygroup/" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://t.me/sfy_project" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.instagram.com/sfy_project/?hl=ru" target="_blank"><div class="company__icons-icon"></div></a>
    </div>

    <div class="arrow"></div>
    <div class="arrow-disc"><a>Вернуться к списку новостей</a></div>
    <div class="news-container">
        
        <div class="blogs blogs-rep">
            <div class="blogs-title blogs-title-blog">Блог</div>
            <div class="blogs-rep__row">
                <div class="blogs-rep__img">
                    <div class="blogs-rep__image">
                        <img src="img/news/5.svg" alt="img6">
                    </div>
                </div>
                <div class="blogs-rep__caption">
                    <div class="blogs-rep__news-date">Автор: Виктория Щуровская</div>
                    <div class="blogs-rep__news-title">За чем идти в "долину смерти"</div>
                </div>
                <div class="news-content">
                    <div class="news-content__dead-title">В «долину смерти» нужно идти:</div>
                    <div class="dead">
                        <div class="design-item">
                            <div class="dead__title dead__title-one">За надежными людьми</div>
                            <div class="dead__disc">
                                <p>Это касается не только членов команды, но и окружающих вас друзей и знакомых. С командой вы проверяете, кто на что способен, кто тянет на себя одеяло власти, кто халявит или пашет больше всех, кто боится ответственности и не умеет принимать решения, кто готов рисковать и верить в чудо, а кто просто хочет денег, причем прямо сейчас. Близким, друзьям и знакомым достается не меньше, особенно если это всё ваша затея. В этот тяжелый затяжной период вы становитесь малость неадекватным и необщительным; вы перестаете тусить и разговаривать на понятном для остальных языке; вместо покупки материальных благ вы всё тратите на какое-то «движение к успеху» и прочие абстрактные понятия. В такой ситуации рядом с вами останутся только самые верные и действительно близкие люди.</p>   
                            </div>
                        </div>
                        <div class="design-item">
                            <div class="dead__title dead__title-two">За опытом</div>
                            <div class="dead__disc">
                                <p>Бесценным, богатым и разнообразным — вы научитесь высыпаться за 4 часа; считать бюджет одной левой, пока правая отписывается от налоговой; рисовать графики и даже иногда их выполнять; ставить реальные задачи; не ныть, а работать; быстро отбрасывать нежизнеспособные идеи; все проверять на целевой аудитории, а не вариться в собственных представлениях; составлять пошаговую стратегию и продуманно двигаться вперед; здраво оценивать свои силы и много-много чего еще полезного.</p>   
                            </div>
                        </div>
                        <div class="design-item">
                            <div class="dead__title dead__title-three">За победой над страхами</div>
                            <div class="dead__disc">
                                <p>Как ни крути, а коленки в итоге перестанут трястись, и ты перестанешь бояться ошибок — они превратятся в варианты развития событий; совершенно спокойно будешь разговаривать с незнакомыми людьми — неважно, кто это, твой заказчик, обычный потребитель или потенциальный инвестор; уйдет страх напортачить с официальными документами и получить по голове от органов власти; глаз конечно будет нервно подергиваться, но паника испарится сама собой</p> 
                            </div>
                        </div>
                        <div class="design-item">
                            <div class="dead__title dead__title-fhour">За новым собой</div>
                            <div class="dead__disc">
                                <p>Стартап и так вызов всему, что было раньше в тебе и в твоем окружении. Стартап в «долине смерти» — это конец обычной жизни и окончательный выбор пути для каждого члена команды. Независимо от того, закроется проект или выживет, только ты решаешь двигаться дальше или сушить кости в пустыне.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('template/footer.html') 
