@@include('template/header.html')
<div class="wrapper news">
    <div class="wrapper-btn wrapper-btn-prev">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="company__icons">
        <a href="https://vk.com/sfy_group" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.facebook.com/sfygroup/" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://t.me/sfy_project" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.instagram.com/sfy_project/?hl=ru" target="_blank"><div class="company__icons-icon"></div></a>
    </div>

    <div class="arrow"></div>
    <div class="arrow-disc"><a>Вернуться к списку новостей</a></div>
    <div class="news-container">
        
        <div class="blogs blogs-rep blogs-rep-razbor">
            <div class="blogs-title blogs-title-razbor">Разбор</div>
            <div class="blogs-rep__row">
                <div class="blogs-rep__img">
                    <div class="blogs-rep__image">
                        <img src="img/news/4.svg" alt="img1">
                    </div>
                </div>
                <div class="blogs-rep__caption">
                    <div class="blogs-rep__location-title blogs-rep__caption-pink">Название:</div>
                    <div class="blogs-rep__location-text blogs-rep__caption-disc">Название проекта</div>
                    <div class="blogs-rep__konzept-title blogs-rep__caption-pink">Тема разбора:</div>
                    <div class="blogs-rep__konzept-text blogs-rep__caption-disc">Поработать над визуальной составляющей, запустить рекламу, увеличить количество подписчиков, проводить</div>
                </div>
            </div>
            <div class="blogs-rep__content">
                <h2>Описание проекта:</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд. В тот момент в столице было очень мало грузинских ресторанов, и наш фестиваль стал возможностью открыть новые блюда и вкусы.</p>
                
                <h2>Что разбираем:</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд.</p>
                <img src="img/news/3.svg" alt="">
                
                
                <h2>Наш вариант:</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд.</p>
                <img src="img/news/5.svg" alt="">
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд. В тот момент в столице было очень мало грузинских ресторанов, и наш фестиваль стал возможностью открыть новые блюда и вкусы.</p>
               
            </div>
        </div>
    </div>
</div>
@@include('template/footer.html')
