@@include('template/header.html')
<div class="wrapper news">
    <div class="wrapper-btn wrapper-btn-prev">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="company__icons">
        <a href="https://vk.com/sfy_group" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.facebook.com/sfygroup/" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://t.me/sfy_project" target="_blank"><div class="company__icons-icon"></div></a>
        <a href="https://www.instagram.com/sfy_project/?hl=ru" target="_blank"><div class="company__icons-icon"></div></a>
    </div>

    <div class="arrow"></div>
    <div class="arrow-disc"><a>Вернуться к списку новостей</a></div>
    <div class="news-container">
        
        <div class="blogs blogs-rep">
            <div class="blogs-title blogs-title-report">Репортаж</div>
            <h1 class="blogs-rep__title">Название репортажа</h1>
            <div class="blogs-rep__row">
                <div class="blogs-rep__img">
                    <div class="blogs-rep__image">
                        <img src="img/news/1.svg" alt="img1">
                    </div>
                </div>
                <div class="blogs-rep__caption">
                    <div class="blogs-rep__date-title blogs-rep__caption-pink">Дата проведения:</div>
                    <div class="blogs-rep__date-text blogs-rep__caption-disc">01.02.2019</div>
                    <div class="blogs-rep__location-title blogs-rep__caption-pink">Локация:</div>
                    <div class="blogs-rep__location-text blogs-rep__caption-disc">Поработать над визуальной составляющей, запустить рекламу, увеличить количество подписчиков, проводить</div>
                    <div class="blogs-rep__konzept-title blogs-rep__caption-pink">Концепция:</div>
                    <div class="blogs-rep__konzept-text blogs-rep__caption-disc">Тема для этой ночи была выбрана сложная — «Music on Fire», но ее удалось выдержать во всем — в музыкальной, лекционной, практической, экспозиционной, игровой и развлекательной частях программы.</div>
                </div>
            </div>
            <div class="blogs-rep__content">
                <h2>Что такое «Тбилисоба»</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд. В тот момент в столице было очень мало грузинских ресторанов, и наш фестиваль стал возможностью открыть новые блюда и вкусы.</p>
                <img src="img/news/2.svg" alt="">
                <p> На третьей «Тбилисобе» мы презентовали белорусам новую современную Грузию XXI века, пели и танцевали до полуночи. В 2018 году мы учили белорусов «жить на все 100 с силой вулкана» — и даже открыли на набережной Свислочи экстрим-парк с активными развлечениями. В этом году фестиваль «Тбілісоба» прошел «з грузінска-беларускім характарам». Этим праздником мы хотели подчеркнуть уникальность, присущую каждому </p>
                <p>У «Тбилисобы» четыре соорганизатора: ТМ «Боржоми», Посольство Грузии в Республике Беларусь, грузинское культурно-просветительское общество «Мамули» и Мингорисполком. </p>
                <p>Ежегодно, например, «Мамули» организовывает свой уголок на фестивале. Здесь учат грузинскому алфавиту, показывают национальные костюмы, тут проходят танцевальные мастер-классы. В прошлом году мы установили троллéй через Свислочь: можно было всего за минуту перебраться с одного берега реки на другой по навесной веревке. А в этом году сделали бассейн «Боржоми»: добровольцы, закрепленные на тросах, летали над площадкой и пытались поднять баночки с водой. Был большой ажиотаж! Но были и «традиционные» для минской «Тбилисобы» развлечения. Например, скалодром или регби, мастер-классы по «чидаобе» — традиционной грузинской борьбе.</p>
                <p> Для младших посетителей у нас проходят футбольные мастер-классы — второй год подряд начинающих спортсменов навещает Каха Каладзе, мэр Тбилиси, бывший игрок тбилисского и киевского «Динамо», «Милана» и «Дженоа». Еще одна «фишка» фестиваля — туристический базар, где предлагают купить тур по Батуми, Кутаиси или Боржоми.</p>
                <p> В этом году впервые на турбазаре присутствовали прямые операторы из Грузии, а одним из развлечений был караоке-конкурс песен Валерия Меладзе. Мы поставили для себя цель каждый год добавлять на фестивале новые и новые площадки, удивлять гостей и радовать их чем-то необычным. </p>
                
                <h2>Как проходит организация фестиваля</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд. В тот момент в столице было очень мало грузинских ресторанов, и наш фестиваль стал возможностью открыть новые блюда и вкусы.</p>
                <img src="img/news/3.svg" alt="">
                <p> На третьей «Тбилисобе» мы презентовали белорусам новую современную Грузию XXI века, пели и танцевали до полуночи. В 2018 году мы учили белорусов «жить на все 100 с силой вулкана» — и даже открыли на набережной Свислочи экстрим-парк с активными развлечениями. В этом году фестиваль «Тбілісоба» прошел «з грузінска-беларускім характарам». Этим праздником мы хотели подчеркнуть уникальность, присущую каждому </p>
                <p>У «Тбилисобы» четыре соорганизатора: ТМ «Боржоми», Посольство Грузии в Республике Беларусь, грузинское культурно-просветительское общество «Мамули» и Мингорисполком. </p>
                <p>Ежегодно, например, «Мамули» организовывает свой уголок на фестивале. Здесь учат грузинскому алфавиту, показывают национальные костюмы, тут проходят танцевальные мастер-классы. В прошлом году мы установили троллéй через Свислочь: можно было всего за минуту перебраться с одного берега реки на другой по навесной веревке. А в этом году сделали бассейн «Боржоми»: добровольцы, закрепленные на тросах, летали над площадкой и пытались поднять баночки с водой. Был большой ажиотаж! Но были и «традиционные» для минской «Тбилисобы» развлечения. Например, скалодром или регби, мастер-классы по «чидаобе» — традиционной грузинской борьбе.</p>
                <p> Для младших посетителей у нас проходят футбольные мастер-классы — второй год подряд начинающих спортсменов навещает Каха Каладзе, мэр Тбилиси, бывший игрок тбилисского и киевского «Динамо», «Милана» и «Дженоа». Еще одна «фишка» фестиваля — туристический базар, где предлагают купить тур по Батуми, Кутаиси или Боржоми.</p>
                <p> В этом году впервые на турбазаре присутствовали прямые операторы из Грузии, а одним из развлечений был караоке-конкурс песен Валерия Меладзе. Мы поставили для себя цель каждый год добавлять на фестивале новые и новые площадки, удивлять гостей и радовать их чем-то необычным. </p>
                
                <h2>А кто ЦА и как продвигается фестиваль</h2>
                <p>Каждый наш фестиваль — это отражение ценностей бренда, его коммуникации с потребителем. Первым праздником мы не только отметили юбилей бренда, но и открыли дни национальных культур в Минске, которые сейчас уже стали доброй традицией для города. На втором фестивале мы исследовали гастрономическую карту Беларуси и Грузии во время большого застолья с десятками блюд. В тот момент в столице было очень мало грузинских ресторанов, и наш фестиваль стал возможностью открыть новые блюда и вкусы.</p>
                <img src="img/news/5.svg" alt="">
                <p> На третьей «Тбилисобе» мы презентовали белорусам новую современную Грузию XXI века, пели и танцевали до полуночи. В 2018 году мы учили белорусов «жить на все 100 с силой вулкана» — и даже открыли на набережной Свислочи экстрим-парк с активными развлечениями. В этом году фестиваль «Тбілісоба» прошел «з грузінска-беларускім характарам». Этим праздником мы хотели подчеркнуть уникальность, присущую каждому </p>
               
            </div>
        </div>
    </div>
</div>
@@include('template/footer.html') 
